/*
Error: Invalid CSS after ".checkbox-#": expected id name, was "$name}"
        on line 96 of vendor/assets/stylesheets/elements/_inputs.sass, in `checkbox'
        from line 103 of vendor/assets/stylesheets/elements/_inputs.sass
        from line 39 of vendor/assets/stylesheets/sassypam.css.sass

Backtrace:
vendor/assets/stylesheets/elements/_inputs.sass:96:in `checkbox'
vendor/assets/stylesheets/elements/_inputs.sass:103
vendor/assets/stylesheets/sassypam.css.sass:39
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:197:in `id_selector'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:159:in `simple_selector_sequence'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:112:in `selector'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1079:in `expr!'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:353:in `block (4 levels) in visit_mixin'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:353:in `map'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:353:in `block (3 levels) in visit_mixin'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:353:in `block (2 levels) in visit_mixin'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:98:in `with_mixin'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/pivotal/.rvm/gems/ruby-2.2.0/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/pivotal/.rvm/gems/ruby-2.2.0/bin/sass:23:in `load'
/Users/pivotal/.rvm/gems/ruby-2.2.0/bin/sass:23:in `<main>'
/Users/pivotal/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/pivotal/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \".checkbox-#\": expected id name, was \"$name}\"\A         on line 96 of vendor/assets/stylesheets/elements/_inputs.sass, in `checkbox'\A         from line 103 of vendor/assets/stylesheets/elements/_inputs.sass\A         from line 39 of vendor/assets/stylesheets/sassypam.css.sass"; }
