<!doctype html>
<html>
<head>
<title>SassyPam styleguide - <%= title %></title>

<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./public/sassypam.css">
<link rel="stylesheet" href="./normalize.css">
<link rel="stylesheet" href="./github.css">
<link rel="stylesheet" href="./styleguide.css">
<!-- Latest jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- Styleguide specific JavaScript -->
<script type="text/javascript" src="./main.js"></script>
</head>
<body>
<div class="global-header">
  <div class="sassypam flex">
    <div class='logo-container pull-left'>
      <img src='./img/sassy_pam.png' />
    </div>
    <h2 class='em-low em-italic pll ptm pull-left'>Sassypam</h2>
  </div>
</div>

<aside class="main-nav">
  <ul class="list-vertical-left">
    <% @categories.each do |category, file_name| %>
      <li class='ct-js'>
        <a class="category-link width-100 phl pvl h3" href="<%= file_name %>"><%= category %></a>
        <ul class="list-vertical-left hide pbl">
          <% @blocks.each do |b| %>
            <li><a class="block-link phl pvs type-sm" href="#<%= b[:name] %>"><%= b[:title] %></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</aside>
<div class='main-content'>
  <div class='mal'>
